:root
{
    font-size: 62.5%;
    --bg: #FFFAE3;
    --contentDark:#473F33;
    --icon: #F37748;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    background-color: var(--bg);
    color: var(--contentDark);
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 13vh 5vh 1fr 1fr 1fr 12vh;
    grid-template-areas:
    "header header header header"
    ". nav nav ."
    ". main ."
    ". main ."
    "footer footer footer footer";
    font-size: 1.6rem;
}

header
{
    grid-area: header;
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #ded;
}

    .header_container
    {
        display: flex;
        height: 100%;
    }

        .header_container:first-child
        {
           padding-top: 1rem;
        }

        img[alt="JoyToy Logo"]
        {
            width: 170px;
        }

        .header_center
        {
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: flex-end;
            padding: 0.3rem;
        }

            input[id="searchbar"]
            {
                width: 30rem;
                height: 3rem;
                font-size: 2rem;
                margin: 1rem;
                padding: 1rem;
                border-radius: 30px;
            }

            i
            {
                color: var(--icon);
                margin: 1rem;
                font-size: 3rem;
            }

        .header_right
        {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

            button[id=login], button[id="register"]
            {
                background-color: transparent;
                color: var(--contentDark);
                border: solid 2.5px var(--contentDark);
                border-radius: 30px;
                padding: 0.5rem;
                margin: 1rem;
                font-size: 1.7rem;
                font-weight: bolder;
            }
nav
{
    grid-area: nav;
    background-color: rgb(55, 43, 223) ;
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;
}

    nav ul
    {
        width: 100%;
        display: flex;
        
        justify-content: center;
    }

        nav ul li
        {
            width: 12%;
            margin-right: 2.5rem;
            list-style: none;
        }

            nav ul li a
            {
                color: #eee;;
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
            }

            #spacer
            {
                width: 5%;
            }

                #wl::before
                {
                    font-family: "Font Awesome 5 Free";
                    content: "\f004";
                    color: #eee;
                    font-size: 2.5rem;
                    font-weight: 900;
                    margin-right: 1rem;
                }

                #wk::before
                {
                    font-family: "Font Awesome 5 Free";
                    content: "\f290";
                    color: #eee;
                    font-size: 2.5rem;
                    font-weight: 900;
                    margin-right: 1rem;
                }

main
{
    grid-area: main;
    grid-column: 2/4;
    grid-row: 3/7;
    background-color: gray;
}


footer
{
    grid-area: footer;
    grid-column: 1/6;
    
}

    #footer_an
    {
        grid-row: 1/5;
        grid-row: 7/8;
    }

/* Shop Sections */

.s_main_content
{
    display: grid;
    grid-column: 2/4;
    grid-rows: 3/6;
}

.s_main_section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "artikel1 artikel2"
    "artikel3 artikel4"
    "artikel5 artikel6";
    padding: 2rem;
    gap: 15px;
    row-gap: 30px;
}

#artikel1,#artikel2,#artikel3,#artikel4,#artikel5,#artikel6
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #eee;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    border: solid 3px red;
}

    #artikel1 { grid-area: artikel1; }
    #artikel2 { grid-area: artikel2; }
    #artikel3 { grid-area: artikel3; }
    #artikel4 { grid-area: artikel4; }
    #artikel5 { grid-area: artikel5; }
    #artikel6 { grid-area: artikel6; }

    .artikel_left
    {
        width: 49%;
    }

    .artikel_right_top
    {
        width: 49%;
        height: 25%;
        padding: 2.5rem;
    }

    .artikel_right_bot1
    {
        width: 10%;
        padding: 0.7rem;
        position: relative;
        top: -14rem;
    }

        input[id="buy"]
        {
            width: 5rem;
            height: 2.5rem;
            font-size: 2rem;
            padding: 0.3rem;
            margin: auto;
        }

    .artikel_right_bot2
    {
        display: flex;
        flex-wrap: wrap;
        width: 24%;
        height: 25%;
        position: relative;
        top: -14rem;
        text-align: center;
    }

        h3#preis
        {
            font-size: 3rem;
            font-weight: bold;
        }

        

        #wk_in, #wl_in
        {
            background-color: transparent;
            color: var(--contentDark);
            border: solid 2.5px var(--contentDark);
            border-radius: 30px;
            padding: 0.5rem;
            margin: 0.2rem;
            font-size: 1.7rem;
            font-weight: bolder;
            height: 3.5rem;
        }

    section div img/*[name="ninjago"]*/
    {
        width: 100%;
        order: 1;
    }