:root
{
    font-size: 62.5%;
    --bg: #FFFAE3;
    --contentDark:#473F33;
    --icon: #F37748;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    background-color: var(--bg);
    color: var(--contentDark);
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 13vh 5vh 1fr 1fr 1fr 12vh;
    grid-template-areas:
    "header header header header"
    ". nav nav ."
    ". main ."
    ". main ."
    "footer footer footer footer";
    /* height: 100vh; */
    font-size: 1.6rem;
}

header
{
    grid-area: header;
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: #ded;
}

    .header_container
    {
        display: flex;
        height: 100%;
    }

        .header_container:first-child
        {
           padding-top: 1rem;
        }

        img[alt="JoyToy Logo"]
        {
            width: 170px;
        }

        .header_center
        {
            display: flex;
            width: 80%;
            justify-content: center;
            align-items: flex-end;
            padding: 0.3rem;
        }

            input[id="searchbar"]
            {
                width: 30rem;
                height: 3rem;
                font-size: 2rem;
                margin: 1rem;
                padding: 1rem;
                border-radius: 30px;
                background-color: transparent; 
                transition: background-color 5s;
            }

                input:focus
                { 
                    background-color: yellow;
                    color: red; 
                }

            i
            {
                color: var(--icon);
                margin: 1rem;
                font-size: 3rem;
            }

        .header_right
        {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

            button[id=login], button[id="register"]
            {
                background-color: transparent;
                color: var(--contentDark);
                border: solid 2.5px var(--contentDark);
                border-radius: 30px;
                padding: 0.5rem;
                margin: 1rem;
                font-size: 1.7rem;
                font-weight: bolder;
            }
nav
{
    grid-area: nav;
    background-color: rgb(55, 43, 223);
    
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;
}

    nav ul
    {
        width: 100%;
        display: flex;
        
        justify-content: center;
    }

        nav ul li
        {
            width: 12%;
            margin-right: 2.5rem;
            list-style: none;
        }

            nav ul li a
            {
                color: #eee;
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
            }

            #spacer
            {
                width: 5%;
            }

            li a:hover
            {
                text-decoration: underline rgb(250, 37, 37);
            }

                #wl::before
                {
                    font-family: "Font Awesome 5 Free";
                    content: "\f004";
                    color: #eee;
                    font-size: 2.5rem;
                    font-weight: 900;
                    margin-right: 1rem;
                }

                #wk::before
                {
                    font-family: "Font Awesome 5 Free";
                    content: "\f290";
                    color: #eee;
                    font-size: 2.5rem;
                    font-weight: 900;
                    margin-right: 1rem;
                }

main
{
    grid-area: main;
    grid-column: 2/4;
    grid-row: 3/7;
    
}


footer
{
    grid-area: footer;
    grid-column: 1/6;
    
}

/* Ab Hier arbeiten*/
/* Mojdeh */
 .start_seite{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 23% 28% 28% 23%;
    grid-gap: 15px;
    padding: 15px;
    margin: 5px 0;

}
.sec1
{
    
    grid-area:1/1/2/4 ;

}
.sec2{
    grid-area:4/1/5/4 ;

}
.div1{
    grid-area:1/1/2/2;
    
}
h3, p, .sty{
    text-align: center;
    margin: 0.3rem;
}
.sty{
    background-color: rgb(250, 217, 217);
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.7rem;
    color: black;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
 
}
.div2{
    grid-area:2/1/3/2;
    font-weight: bold;

}
.div3{
    grid-area:3/1/4/2;
    margin-top: 2rem;
  text-align: center;
}
.div4{
    grid-area:2/2/3/3;
    font-weight: bold;

}
.div5{
    grid-area:3/2/4/3;
    margin-top: 2rem;
  text-align: center;
}
.div6{
    grid-area:2/3/3/4;
    font-weight: bold;

}
.div7{
    grid-area:3/3/4/4;
    margin-top: 2rem;
  text-align: center;
}
.sec3{
    grid-area:3/1/4/4;  
}
/* Mojdeh */